{
	"mysql": {
		"host": "localhost",
		"port": 33060,
		"user": "homestead",
		"password": "secret",
		"database": "homestead"
	},
	"redis": {
		"host": "localhost",
		"port": 63790,
		"password": ""
	},
	"socketIO": {
		"port": 8080,
		"https": false,
		"privateKeyPath": null,
		"certificatePath": null,
		"intermediateCertificatePath": null
	}
}