{
	"mysql": {
		"host": "localhost",
		"port": 33060,
		"user": "homestead",
		"password": "secret",
		"database": "homestead"
	},
	"redis": {
		"host": "localhost",
		"port": 63790,
		"password": ""
	},
	"socketIO": {
		"port": 8080,
		"origins": "*://www.la1tv.co.uk.local:*",
		"https": false,
		"privateKeyPath": null,
		"certificatePath": null,
		"intermediateCertificatePath": null
	},
	// note if you disable push notifications you also need to disable it for the site, otherwise browsers will subscribe but never receive any notifications!
	"pushNotificationsEnabled": true,
	"gcmApiKey": null
}